$mainColor: rgb(255, 255, 255);
$secondColor: rgb(112,112,112);
$thirdColor: rgb(0, 0, 0);
$font: Helvetica;
$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  // in here is for the desktop view
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% auto auto auto auto 20% 10%;
  }

  .blk-box {
    grid-area: 1 / 1 / 1 / 1;
    height: 25px;
    width: 50%;
    background-color: $thirdColor;
  }

  .nav {
    display: none;
  }

  #nav-links {
    display: block;
    grid-area: 1 / 2 / 1 / 4;
    justify-self: end;
  }

  #nav-links a {
    padding-right: 25px;
  }

  h1 {
    position: relative;
    grid-area: 4 / 3 / 6 / 5;
  }

  .img {
    grid-area: 1 / 4 / 8 / 8;
  }

  .lorem {
    grid-area: 2 / 1 / 4 / 3;
  }

  .dates {
    grid-area: 4/ 1 / 6 / 1;
  }

  .btn {
    grid-area: 6/ 1 / 7/ 1;
    background-color: $mainColor;
    color: $secondColor;
    border: 1px solid $secondColor;
    border-radius: 25px;
    height: 25px;
    padding: 50px;
  }

}
@media (max-width: $breakpoint-tablet) {
  // in here is mobile view
  .nav-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20px 1fr;
  }

  .blk-box {
    grid-column-start: 2;
    justify-self: end;
    width: 75%;
    height: 100%;
  }

  .nav {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  #nav-links {
    grid-column-start: 1;
    grid-row-start: 2;
    display: none;
    padding-top: 10px;
  }

  #nav-links a {
    display: block;
  }

  .img {
    height: 200px;
  }

  .btn {
    width: 100%;
    background-color: $thirdColor;
    color: $mainColor;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}


html {
  background-color: $mainColor;
  color: $secondColor;
  font-family: $font;
}

body {
  margin: 0;
}

.container{
  margin: 15px;
}

.blk-box {
  background-color: $thirdColor;
  border-radius: 25px;
}

.nav {
  color: $thirdColor;
}

#nav-links a {
  color: $secondColor;
  text-decoration: none;
}

h1 {
  color: $thirdColor;
}

.img {
  background-image: url(../assets/Image.jpg);
  background-position: center;
  background-size: cover;
  // margin-left: auto;
  // margin-right: auto;
  width: 100%;
}

.dates {
  padding-bottom: 25px;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.inverted {
  filter: invert(100%);
}
