@media (min-width: 768px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 2rem 5rem 10rem 10rem 5rem 10rem 2rem;
        grid-template-rows: 2rem 5rem 10rem 10rem 5rem 10rem 2rem;
  }
  .blk-box {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1 / 1 / 1 / 1;
    height: 25px;
    width: 50%;
    background-color: black;
  }
  .nav {
    display: none;
  }
  #nav-links {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1 / 2 / 1 / 4;
    -ms-grid-column-align: end;
        justify-self: end;
    white-space: nowrap;
  }
  #nav-links a {
    padding-right: 25px;
  }
  h1 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 5 / 3 / 7 / 5;
    font-size: 5rem;
    font-style: italic;
    place-self: end stretch;
    margin: 0;
  }
  .img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 8;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-area: 1 / 4 / 9 / 8;
    z-index: -1;
  }
  .lorem {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 4 / 3;
  }
  .dates {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: 4/ 1 / 6 / 1;
  }
  .btn {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: 6/ 1 / 6/ 1;
    place-self: start stretch;
    background-color: white;
    color: #707070;
    border: 1px solid #707070;
    border-radius: 25px;
    height: 25px;
    padding: 50px;
  }
  .visted {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-area: 2 / 6 / 4/ 8;
    background-color: white;
    color: black;
    padding: 15px;
    display: none;
  }
  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #707070;
  }
  .close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media (max-width: 768px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 20px 1fr;
        grid-template-rows: 20px 1fr;
  }
  .blk-box {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-align: end;
        justify-self: end;
    width: 75%;
    height: 100%;
  }
  .nav {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .nav .line {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: black;
    border-radius: 5px;
  }
  #nav-links {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    display: none;
    padding-top: 10px;
  }
  #nav-links a {
    display: block;
  }
  .img {
    height: 200px;
  }
  .lorem, .dates {
    color: black;
  }
  .btn {
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

html {
  background-color: white;
  color: #707070;
  font-family: Helvetica;
}

.container {
  margin: 15px;
}

.blk-box {
  background-color: black;
  border-radius: 25px;
}

.nav {
  color: black;
}

#nav-links a {
  color: #707070;
  text-decoration: none;
}

h1 {
  color: black;
}

.img {
  background-image: url(../assets/Image.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.dates {
  padding-bottom: 25px;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.inverted {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
/*# sourceMappingURL=style.css.map */