$mainColor: rgb(255, 255, 255);
$secondColor: rgb(65, 65, 65);
$thirdColor: rgb(0, 0, 0);
$font: Arial, Helvetica, sans-serif;

html {
  background-color: $mainColor;
  color: $secondColor;
  font: $font;
}

body {
  margin: 0;
}

.container{
  margin: 15px;
}

.nav-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20px 1fr;
}
.nav {
  grid-column-start: 1;
  grid-row-start: 1;
  color: $thirdColor;
}
#nav-links {
  grid-column-start: 1;
  grid-row-start: 2;
  display: none;
  padding-top: 10px;
}
#nav-links a {
  color: $secondColor;
  text-decoration: none;
}

.blk-box {
  grid-column-start: 2;
  justify-self: end;
  background-color: $thirdColor;
  width: 75%;
  height: 100%;
  border-radius: 25px;
}

.img {
  background-image: url(../assets/Image.jpg);
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
}

// .container {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-template-rows: auto;
// }
.dates {
  padding-bottom: 25px;
}

.btn {
  width: 100%;
  background-color: $thirdColor;
  color: $mainColor;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}

h1 {
  color: $thirdColor;
}